/.idea/
/server.iml
/auth-server/auth-server.iml
/auth-server/target/
/common/common.iml
/common/target/
/chinaybop/chinaybop.iml
/chinaybop/target/
/proxy/target/
/proxy/proxy.iml
/xpxl/target/
/xpxl/xpxl.iml