<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeem.king.mapper.KingStoreMapper">
    <select id="getClose" resultType="com.yeem.king.entity.KingStore">
        select *,
            st_distance_sphere (
            point ( longitude, latitude ),
            point ( #{longitude}, #{latitude} )) as distance
        from king_store
        order by (longitude - #{longitude})*(longitude - #{longitude})+(latitude - #{latitude})*(latitude - #{latitude})
    </select>
</mapper>
