<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeem.lamp.mapper.AladdinServiceMapper">
    <select id="selectPages" resultType="com.yeem.lamp.entity.AladdinService">
        select
            s.*,
            m.email,
            m.wechat
        from aladdin_service s
        inner join aladdin_member m on s.member_id = m.id
        <where>
            s.delete_flag = 0 and m.delete_flag = 0
            <if test="memberId != null and memberId != ''">
                and m.member_id = #{memberId}
            </if>
            <if test="status == '1'.toString()">
                and s.end_date <![CDATA[>]]> now()
            </if>
            <if test="status == '0'.toString()">
                and s.end_date <![CDATA[<=]]> now()
            </if>
            <if test="wechat != null and wechat != ''">
                and m.wechat like concat('%', #{wechat}, '%')
            </if>
            <if test="email != null and email != ''">
                and m.email like concat('%', #{email}, '%')
            </if>
        </where>
    </select>
</mapper>