<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeem.car_film_saas.mapper.SysMailMapper">
    <select id="getTodoMail" resultType="com.yeem.car_film_saas.entity.SysMail">
        SELECT
        *
        FROM
        saas_car_film_dev.sys_mail
        WHERE
        (timing_flag = 0
        AND (state = 0
        OR (state = 9
        and try_time &lt;= 3)))
        or
        (timing_flag = 1 and timing_time &lt;= now()
        AND (state = 0
        OR (state = 9
        and try_time &lt;= 3)))
    </select>
</mapper>