<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeem.zero.mapper.ZeroOrderMapper">
    <select id="distribution" resultType="com.yeem.zero.entity.ZeroOrder">
        select
            zo.order_no,
            zo.user_id,
            zo.status,
            zo.direct_referrer_username,
            zo.indirect_referrer_username,
            zo.direct_bonus,
            zo.indirect_bonus
        from zero_order zo
        left join zero_user_extra zue on zo.user_id = zue.user_id
        where zo.distribution_flag = 1 and zo.delete_flag != 1
        and (zo.direct_referrer_username = #{username} or zo.indirect_referrer_username = #{username})
        <if test="nickName != '' and nickName != null">
            and zue.nick_name like concat('%', #{nickName}, '%')
        </if>
    </select>
</mapper>
