<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snail.aili.mapper.AiliBrandMapper">
    <resultMap id="resMap" type="com.snail.aili.entity.AiliBrand">
        <result property="name" column="ab.name"/>
        <result property="image" column="ab.image"/>
        <result property="first_char" column="ab.first_char"/>
        <collection property="modelList" ofType="com.snail.aili.entity.AiliModel">
            <result property="name" column="am.name"/>
            <result property="type" column="am.type"/>
        </collection>
    </resultMap>

    <select id="getByFirstChar" resultType="com.snail.aili.entity.AiliBrand">
        select
            ab.name,
            ab.image,
            ab.first_char,
            am.name,
            am.type
        from aili_brand ab
        left join aili_model am on ab.id = am.brand_id
        order by ab.first_char, am.sort
    </select>
</mapper>
